.suse-thin {
  font-family: "Suse", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.suse-extralight {
  font-family: "Suse", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.suse-light {
  font-family: "Suse", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.suse-regular {
  font-family: "Suse", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.suse-medium {
  font-family: "Suse", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.suse-semibold {
  font-family: "Suse", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.suse-bold {
  font-family: "Suse", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.suse-extrabold {
  font-family: "Suse", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.suse-black {
  font-family: "Suse", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.suse-thin-italic {
  font-family: "Suse", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.suse-extralight-italic {
  font-family: "Suse", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.suse-light-italic {
  font-family: "Suse", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.suse-regular-italic {
  font-family: "Suse", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.suse-medium-italic {
  font-family: "Suse", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.suse-semibold-italic {
  font-family: "Suse", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.suse-bold-italic {
  font-family: "Suse", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.suse-extrabold-italic {
  font-family: "Suse", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.suse-black-italic {
  font-family: "Suse", sans-serif;
  font-weight: 900;
  font-style: italic;
}

